@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --clr-paradise-pink: #ef476f;
  --clr-orange-yellow-crayola: #ffd166;
  --clr-caribbean-green: #06d6a0;
  --clr-blue-ncs: #118ab2;
  --clr-midnight-green-eagle-green: #073b4c;
  --clr-white: #eee3e3;
  --clr-black: #0c0b0b;
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}
body {
  font-family: "Bungee", cursive;
  width: 100%;
  height: 100vh;
  background: rgb(214, 128, 166);
  background: linear-gradient(
    90deg,
    rgba(214, 128, 166, 1) 0%,
    rgba(131, 184, 246, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

/* global css */

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.card-one,
.card-two {
  width: 80%;
  border: 20px ridge #688fc4af;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.player-name {
  font-size: 2rem;
  color: var(--clr-paradise-pink);
  padding: 1rem;
}

.image {
  width: 35%;
  border-radius: 20px;
  margin: 1rem;
}

.score-container {
  text-align: center;
  margin-bottom: 1rem;
  border: 3px solid var(--clr-midnight-green-eagle-green);
  padding: 1rem;
  border-radius: 50%;
  background-color: #3ee6de4b;
}

.current {
  font-size: 1rem;
  color: var(--clr-blue-ncs);
}

.score {
  font-size: 2.6rem;
}

.on-score{
  font-size: 2.6rem;
  color:rgb(35, 236, 142);
}

.dic-btn-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.dice-img {
  width: 25%;
}

.dice {
  border-radius: 20px;
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 0.35rem;
}

.btn {
  width: 115px;
  height: 40px;
  color: var(--clr-white);
  font-size: 15px;
  text-align: center;
  border-radius: 50px;
  border: none;
  background: linear-gradient(-45deg, #ff3d77, #338aff, #3cf0c5);
  cursor: pointer;
}

.hidden{
  display: none;
}

.player-active{
  background-color: rgba(142, 238, 193, 0.514);
  border: 20px ridge #038619c5;
}

.player-winner{
  
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .card-one,
  .card-two {
    width: 30%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .score-container {
    margin-top: 10rem;
  }

  .btn {
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
  }
}
