@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --clr-paradise-pink: #ef476f;
  --clr-orange-yellow-crayola: #ffd166;
  --clr-caribbean-green: #06d6a0;
  --clr-blue-ncs: #118ab2;
  --clr-midnight-green-eagle-green: #073b4c;
  --clr-white: #eee3e3;
  --clr-black: #0c0b0b;
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Bungee", cursive;
  width: 100%;
  height: 100vh;
  background-image: url('../images/desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

/* global css */

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.card-one,
.card-two {
  width: 80%;
  border: 2px ridge var(--clr-black);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
}

.player-name {
  font-size: 2rem;
  color: var(--clr-paradise-pink);
  padding: 1rem;
}

.image {
  width: 35%;
  border-radius: 28px;
  padding-bottom: 1rem;
}

.score-container {
  text-align: center;
  margin-bottom: 1rem;
  border: 2px solid var(--clr-black);
  padding: 1rem;
  border-radius: 50%;
  background-color: #3ee676ce;
  border: none;
}

.current {
  font-size: 1rem;
  color: var(--clr-blue-ncs);
}

.score {
  font-size: 2.6rem;
}

.dice-img{
  width: 30%;
}
